<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/app.css">
    <script src="../assets/js/bootstrap.min.js"></script>
   
    <title>Törpék</title>
</head>
<body>
    <div class="container">
        <header>
            <h1>Törpék</h1>
        </header>
        <main>